<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Connacht</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Connacht</h2>
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/e/e1/Flag_of_Connacht.svg"
    width="200" height="150">

  <h2>Counties in Connacht</h2>
  <ul>
    <li>Sligo</li>
    <li>Galway</li>
    <li>Roscommon</li>
    <li>Mayo</li>
    <li>Leitrim</li>
  </ul>
</ion-content>