<!-- Header with back button and page title -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Back button returns to home page -->
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Connacht</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Display the Connacht flag and list of counties -->
<ion-content>
  <h2>Connacht</h2>
  <img
    src="assets/flags/connacht.svg"
    width="200" height="150">

  <!-- Hardcoded list of counties in Connacht -->
  <h2>Counties in Connacht</h2>
  <ul>
    <li>Sligo</li>
    <li>Galway</li>
    <li>Roscommon</li>
    <li>Mayo</li>
    <li>Leitrim</li>
  </ul>
</ion-content>